<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>What is GitHubExplorer ?</h1>
          <a href="https://heig-tweb-projet01.herokuapp.com/" class="btn btn-primary btn-lg" id="go">Go to GitHubExplorer</a>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://github.com/MojoMateo/HEIG.TWEB.Projet01" class="btn btn-default btn-lg">View on GitHub</a>
            </li>
            <li>
              <a href="https://github.com/MojoMateo/HEIG.TWEB.Projet01/zipball/master" class="btn btn-default btn-lg">Download .zip</a>
            </li>
            <li>
              <a href="https://github.com/MojoMateo/HEIG.TWEB.Projet01/tarball/master" class="btn btn-default btn-lg">Download .tar.gz</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->